@model ProductListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>QuantityPerUnit</th>
            <th>UnitPrice</th>
            <th>CategoryId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.UnitPrice</td>
                <td>@item.CategoryId</td>
            </tr>
        }
    </tbody>    
</table>

